NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@perfectrishta.o0cxxtx.mongodb.net/perfectrishta?retryWrites=true&w=majority
MONGODB_DBNAME=perfectrishta
JWT_SECRET=replace-with-long-random-string
JWT_EXPIRES_IN=7d
ADMIN_USERNAME=superadmin786rishta
ADMIN_PASSWORD=blackburn777786
ADMIN_EMAIL=contact@perfectrishta.co.uk
CLIENT_URL=https://perfectrishta.co.uk
